<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{% static 'Images/Anirban Bhattacharya photo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Styles/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'Styles/assets/css/style.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
</head>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About me</span></a></li>
        <li><a href="/#skills" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>My Skills</span></a></li>
        <li><a href="/#achievements" class="nav-link scrollto"><i class="bx bx-trophy"></i> <span>My Achievements</span></a></li>
        <li><a href="/#sketching" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>My Hobbies</span></a></li>
        <li><a href="/blogs" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>My Blogs</span></a></li>
        <li><a href="/gallery" class="nav-link scrollto"><i class="bx bx-image"></i> <span>Photos</span></a></li>
        <li><a href="/#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li><a type="button" data-bs-toggle="modal" data-bs-target="#login" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Login / Register</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  {% block body %}{% endblock %}

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
      <h3>Anirban Bhattacharya</h3>
      <p>Hope you liked reading about me. Thank you for visiting.</p>
      <div class="social-links">
        <a href="mailto:anirbanbhattacharya.me@gmail.com"><i class="bx bxl-google"></i></a>
        <a href="https://t.me/AnirbanBhattacharyaOfficial"><i class="bx bxl-telegram"></i></a>
        <a href="https://www.quora.com/profile/Anirban-Bhattacharya-248"><i class="bx bxl-quora"></i></a>
        <a href="https://linkedin.com/in/anirban-bhattacharya3008"><i class="bx bxl-linkedin"></i></a>
        <a href="https://t.me/AnirbanBhattacharyaOfficial"><i class="bx bxl-telegram"></i></a>
        <a href="https://t.me/AnirbanBhattacharyaOfficial"><i class="bx bxl-telegram"></i></a>
      </div>
      <div class="credits">
        Powered by <a href="/">Anirban Bhattacharya</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Styles/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'Styles/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Styles/assets/js/main.js' %}"></script>

</body>

</html>

<div class="modal fade" id="register" tabindex="-1" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post">
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Name...">
            <label for="floatingInput">Name...</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address...">
            <label for="floatingInput">Email address...</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" name="phone" class="form-control" id="floatingInput" placeholder="Phone....">
            <label for="floatingInput">Phone....</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="pass1" class="form-control" id="floatingInput" placeholder="Create Password...">
            <label for="floatingInput">Create Password...</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="pass2" class="form-control" id="floatingInput" placeholder="Retype the Password...">
            <label for="floatingInput">Retype the Password...</label>
          </div>
          <center>
            <button type="submit" class="btn btn-outline-info">Register</button> 
          </center>
          <br>
          <center>
            <button type="button" data-bs-toggle="modal" data-bs-target="#login" class="btn btn-outline-link">Already have an account? Login</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email Address...">
            <label for="floatingInput">Email Address...</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingInput" placeholder="Password...">
            <label for="floatingInput">Password...</label>
          </div>
          <center>
            <button type="submit" class="btn btn-outline-info">Login</button> 
          </center>
          <br>
          <center>
            <button type="button" data-bs-toggle="modal" data-bs-target="#register" class="btn btn-outline-link">Don't have an account? Create Now</button>
            <br>
            <button type="button" data-bs-toggle="modal" data-bs-target="#forgotpassword" class="btn btn-outline-link">Forgot Pasword?</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="forgotpassword" tabindex="-1" aria-labelledby="forgotpassword" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/forgotpassword" method="post">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email Address...">
            <label for="floatingInput">Email Address...</label>
          </div>
          <center>
            <button class="btn btn-outline-success" type="submit">Send OTP</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>