{% extends 'base.html' %}
{% block title %}
Blogs | Anirban Bhattacharya
{% endblock %}
{% block body %}
{% load static %}
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>BLOG</b></h1>
  <center>
      <img style="max-width: 150px;" src="{% static 'Images/Anirban Bhattacharya Photo.png' %}" alt="">
  </center>
  <br>
  <p>By <span class="w3-tag">Anirban Bhattacharya</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

{% for blog in blogs %}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{blog.Image}}" alt="Norway" style="width:100%">
      <div class="w3-container">
        <br>
        <h3><b>{{blog.Name}}</b></h3>
        <h5>{{blog.Author}}, <span class="w3-opacity">{{blog.DateAdded}}</span></h5>
      </div>
      <div class="w3-container">
        <p>{{blog.Description}}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <a href="/read-blog/{{blog.Slug}}"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></a>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b><i class="fa fa-eye"></i>  </b> <span class="w3-badge">{{blog.Views}}</span></span></p>
          </div>
        </div>
        <br>
      </div>
    </div>
  <!-- END BLOG ENTRIES -->
{% endfor %}


</div>
</div>
</body>

{% endblock %}