{% extends 'base.html' %}
{% block title %}
Anirban Bhattacharya
{% endblock %}
{% block body %}
{% load static %}
    <br>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:900px">
        <center>
            <img style="max-width: 200px;" src="{% static 'Images/Anirban Bhattacharya Freelancing Circle.png' %}" alt="">
        </center>
        <br>
        <h5 style="font-style: italic;">"Hello there, my self Anirban. I am a freelancer having more than 2 years of experience in Web development, Graphic Designing, Content Writing, Logo designing, Python Scripting. I served more than 50 commercial clients in my past. My average rating is about 4.3. I am known for providing quality services at very low rate. You can consider contacting me if you want such services at low rate. Thank you."</h5>
        <br>

          <h2>Hire Me Right Now!</h2>
        <p>Fill this form to hire me...</p>
        <form class="row g-3 needs-validation" action="/hire-me" method="post">
        <div class="col-md-4">
          <input name="name" type="text" class="form-control" placeholder="Your Name..." id="validationCustom01" required>
        </div>
        <div class="col-md-4">
          <input name="email" type="text" class="form-control" placeholder="Email Address" id="validationCustom02" required>
        </div>
        <div class="col-md-4">
            <input name="phone" type="text" placeholder="Contact Number" class="form-control" id="validationCustom05">
          </div>
        <div class="col-md-3">
          <select name="service" class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Choose Service</option>
            <option name="Website Development">Website Development</option>
            <option name="Graphic Designing">Graphic Designing</option>
            <option name="Logo Designing">Logo Designing</option>
            <option name="Content Writing">Content Writing</option>
            <option name="Python Development">Python Development</option>
            <option name="General SEO">General SEO</option>
          </select>
        </div>
        <div class="col-md-9">
          <input name="subject" type="text" placeholder="Subject" class="form-control" id="validationCustom05" required>
        </div>
        <div class="col-md-12">
            <textarea name="message" class="form-control" placeholder="Message (Optional)" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
        
          <button class="btn btn-outline-info" type="submit">Hire Now!</button>
          {% csrf_token %}
      </form>
      <br>
      </div>
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Chat with me for <strong>Free</strong>!</h2>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <a href="https://wa.me/916355853038?text=Hello%20Anirban%2C%20I%20want%20to%20take%20the%20advantage%20of%20your%20services...">
                    <img style="max-width: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/767px-WhatsApp.svg.png" alt="">
                  </a>
                </div>
                <br><br>
                <h4><a href="https://wa.me/916355853038?text=Hello%20Anirban%2C%20I%20want%20to%20take%20the%20advantage%20of%20your%20services...">WhatsApp</a></h4>
                <p></p>
              </div>
            </div>
              <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                  <div class="icon">
                    <a href="https://t.me/AnirbanBhattacharyaOfficial">
                      <img style="max-width: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/480px-Telegram_logo.svg.png" alt="">
                    </a>
                  </div>
                  <br><br>
                  <h4><a href="https://t.me/AnirbanBhattacharyaOfficial">Telegram</a></h4>
                  <p></p>
                </div>
              </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <a href="https://www.upwork.com/freelancers/~01959cc1aa5f513bb9?viewMode=1">
                    <img style="max-width: 150px;" src="https://icons-for-free.com/download-icon-Upwork-1329545834972375892_256.png" alt="">
                  </a>
                </div>
                <br><br>
                <h4><a href="https://www.upwork.com/freelancers/~01959cc1aa5f513bb9?viewMode=1">Upwork</a></h4>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

      <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>What my customer thinks about me...</p>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
                <div class="swiper-slide">
                  <a href="/read-blog/">
                    <div class="testimonial-item">
                      <h2 style="color: black;"></h3>
                      <br>
                      <br>
                      <h4>Amit Patil</h4>
                      <p style="color: black;">
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        One of the best freelancer I found on the web. He is junior but is full of quality. You should hire him if you want a quality service at low rate.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                    <a href="/read-blog/">
                      <div class="testimonial-item">
                        <h2 style="color: black;"></h3>
                        <br>
                        <br>
                        <h4>Harsh Negi</h4>
                        <p style="color: black;">
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          This freelancer is really good. Awesome work!
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <a href="/read-blog/">
                      <div class="testimonial-item">
                        <h2 style="color: black;"></h3>
                        <br>
                        <br>
                        <h4>Honey Singh</h4>
                        <p style="color: black;">
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Aweosme work done. I can't believe that today there are freelancers who do work a such a low rate. Hire him now!
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </a>
                  </div>
                
                  <div class="swiper-slide">
                    <a href="/read-blog/">
                      <div class="testimonial-item">
                        <h2 style="color: black;"></h3>
                        <br>
                        <br>
                        <h4>Ankur Sharma</h4>
                        <p style="color: black;">
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          He is a quality work provider at very cheap rate. His work is also very perfect. I recomend to hire him as a freelancer.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <a href="/read-blog/">
                      <div class="testimonial-item">
                        <h2 style="color: black;"></h3>
                        <br>
                        <br>
                        <h4>Sushila Sharma</h4>
                        <p style="color: black;">
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          I liked his work very much at such a low rate. Keep it up!
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </a>
                  </div>
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
    <br>

{% endblock %}