{% extends 'base.html' %}
{% block title %}
Anirban Bhattacharya
{% endblock %}
{% block keywords %}tech, analysis, business, entrepreneurial, entrepreneurship, enthusiast{% endblock %}
{% block body %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="text-align: center;"><img style="width: 250px;" src="{% static 'Images/HomeImages/HomeDP.png' %}" alt=""></h1>
      <br>
      <h1 style="text-align: center;">Anirban Bhattacharya</h1>
      <p style="text-align: center;"><span class="typed" data-typed-items="Founder of OrcaBeam, Entrepreneurship Enthusiast, Python Programmer, Web Developer, Backend Web Developer, WordPress Developer, Sketching Lover, Mathematics Lover"></span></p>
      <center>
        <div class="social-links">
          <a href="mailto:contact@anirbanbhattacharya.in"><i class="fa fa-envelope"></i></a>
          <a href="https://t.me/AnirbanBhattacharyaOfficial"><i class="fa fa-telegram"></i></a>
          <a href="https://linkedin.com/in/anirbanbhattacharya-in"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/anirbanbhattacharya.in/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.quora.com/profile/Anirban-Bhattacharya-248"><i class="fa fa-quora"></i></a>
          <a href="https://medium.com/@anirbanbhattacharya.in"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/LazySmartCoder"><i class="fa fa-github"></i></a>
          <a href="https://x.com/@anirban_ldr"><i class="fa fa-x"></i></a>
        </div>
      <br>
      <a href="#about"><button style="background: #0563bb;
        border: 0;
        padding: 10px 35px;
        color: rgb(255, 255, 255);
        transition: 0.4s;
        border-radius: 50px;">Get Started!</button></a>
    </div>
    </center>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
          <h2 style="text-align: center;">About me</h2>
          <p style="text-align: center;">Hey there! I'm a vibrant individual, brimming with talent, optimism, and a knack for seeing the bigger picture. My sense of humor adds an extra sparkle to my personality, drawing many people to me like moths to a flame. Of course, I'm not everyone's cup of tea – my occasional bouts of assertiveness and self-interest can rub some the wrong way. Nevertheless, my dedication and hard work shine through in everything I do, ensuring precision and excellence, especially when I'm passionate about a task. Curious about my skills? Keep reading below...</p>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <center>
              <img style="height: 400px; width: 400px;" src="{% static 'Images/HomeImages/Founder.jpg' %}" class="img-fluid" alt="">
            </center>
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3 style="text-align: center;">Anirban Bhattacharya</strong></h3>
            <p style="text-align: center;" class="fst-italic">
              A bit about me is given below...
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Current Profession:</strong> <span>Entrepreneur</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Organization:</strong> OrcaBeam Technologies<span></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Address:</strong> <span>Hebbal, Bangalore</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Date of Birth:</strong> <span>30 August 2006</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a style="color: black;" href="mailto:contact@anirbanbhattacharya.in">contact@anirbanbhattacharya.in</a></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>Indian / Bharatiya</span></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>My Skill Set</h2>
          <p>I'm currently pursuing BCA from Presidency College, with a fervent passion for Programming and Entrepreneurship. Beyond my academic pursuits, I've delved into the world of coding, where I've found my stride as an intermediate Python developer. My expertise spans various domains including web scraping, web development, data analysis, and data structures and algorithms. Whether it's crafting elegant solutions or unraveling complex datasets, I thrive on the challenges coding presents. Ready to embark on new ventures and explore the endless possibilities of technology.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">86%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Entrepreneurship <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          <div class="progress">
            <span class="skill">Django, Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Trading <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          </div>
          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Sketching <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Mathematics <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photography <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <!-- <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Education</h2>
          <p>I am just a secondary pass with 8.4 CGPA and a class 12 commerce student but I am willing to do the following degrees in my future. I am a very optimistic and far sighted person. I want to become a very successful businessman / investor in future. Well I need to get a computer degree as I am passionate of computers. So here will be my education throughout my career.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item pb-0">
              <h4>Bachelor of Computer Applications (BCA)</h4>
              <h5>2024 - 2028</h5>
              <p><em>Christ University Bangalore</em></p>
              <p><em>I want to study BCA to gain a professional knowledge about computers. This course is very popular as well as very useful.</em></p>
            </div>
            <div class="resume-item">
              <h4>Masters of Computer Applications (MCA)</h4>
              <h5>2029 - 2031</h5>
              <p><em>National Institute of Technology (NIT)</em></p>
              <p>As a BCA student post graduation in computers is necessary. So MCA is must for BCA students.</p>
            </div>
            <div class="resume-item">
              <h4>Masters of Technology (M.Tech)</h4>
              <h5>2032 - 2033</h5>
              <p><em>Inidan Institute of Technology (IIT)</em></p>
              <p>As I have a great interest in AI I would also like to do M.Tech after my MCA. Keeping dual master degree is good. Then I may also pursue a PhD in AI. This is also one of my academic goals.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Intermidiate Programmer</h4>
              <h5>2020 - Present</h5>
              <p><em>Self</em></p>
              <ul>
                <li>Built Complicated projects by myself.</li>
                <li>Served to more than 50+ clients.</li>
                <li>Building an automation platform <strong>{Coming Soon...}</strong></li>
                <li>Taught python to dozens of people.</strong></li>
              </ul>
            </div>
            
          </div>
        </div>

      </div>
    </section>End Resume Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Random Facts</h2>
          <p>A few random facts about me...</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-person-square"></i>
              <span data-purecounter-start="0" data-purecounter-end="31" data-purecounter-duration="1" class="purecounter"></span>
              <p>Network / Contacts</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Books Read</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class='bi bi-emoji-frown'></i>
              <span>Infinite ;-)</span>
              <p>Failures</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Certificates and Testimonials</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <section id="achievements" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>My Achievements</h2>
          <p>Here are a few achievements made by me. Here are a few images of it...</p>
        </div>
        <br>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban1.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban2.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban3.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban4.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban5.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban6.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban7.jpeg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AchievementbyAnirban8.jpeg' %}" class="img-fluid">
            </div>
          </div>

</div>

      </div>
    </section>



    <section id="hobbiesy" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>My Hobbies</h2>
        </div>
        <h5 style="text-align: center;">Listening to music</h5>
        <p style="text-align: center;">Music is my ultimate high; it's like oxygen for my soul, an indispensable part of my existence. The melodies of yesteryears hold a special place in my heart, transporting me to a realm of nostalgia and pure bliss. Each note, each lyric resonates with timeless beauty and profound meaning, capable of touching the deepest recesses of anyone's heart. Indeed, old is gold! Among the myriad of musical maestros, a few of my cherished favorites include...</p>
        <br>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/KumarSanu.webp' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/UditNarayan.avif' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/AlkaYagnik.webp' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/Anuradha.webp' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/kishorekumar.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/lata.webp' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/rafi.jpg' %}" class="img-fluid">
            </div>
          </div>

</div>

      </div>
    </section>

    <section id="coding" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <h5 style="text-align: center;">Coding</h5>
        <p style="text-align: center;">Coding isn't just a hobby; it's my first love, an exhilarating journey where even crafting the smallest program brings immense satisfaction. My playground spans from building websites to wielding the power of web scraping, from crafting intricate logic-building programs to unraveling the mysteries hidden within data. Every line of code is a brushstroke on the canvas of possibility, a testament to my endless fascination with the art and science of programming.</p>
        <br>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://media.istockphoto.com/photos/HomeImages/python-picture-id487418651?b=1&k=20&m=487418651&s=170667a&w=0&h=Otgpu4rHm93sYkM2TIiVlDpD3trebYD0-qOB9jws8qw=" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvZGluZyUyMHB5dGhvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid">
            </div>
          </div>

</div>

      </div>
    </section>

    <section id="sketching" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <h5 style="text-align: center;">Sketching</h5>
        <p style="text-align: center;">Sketching is not just a hobby for me; it's a form of expression, a way to capture beauty and emotions with just a stroke of pencil. I find solace in creating intricate landscapes and captivating scenes, letting the lines tell the story without the need for colors. However, my true passion lies in portraying the essence of humanity through faces. As a face artist, I've spent countless hours honing my craft, capturing the unique features and personalities of different individuals. Yet, despite my love for sketching, I've noticed a slight decline in my skills lately, and it's something I'm determined to reignite and revitalize :(</p>
        <br>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/SketchbyAnirban1.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/SketchbyAnirban2.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/SketchbyAnirban3.jpg' %}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'Images/HomeImages/SketchbyAnirban4.jpg' %}" class="img-fluid">
            </div>
          </div>

</div>

      </div>
    </section>


<section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>My Blogs</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">



            {% for blog in blogs|slice:":5:-1" %}

              <div class="swiper-slide">
                <a href="https://articles.anirbanbhattacharya.in/read-blog/{{blog.Slug}}">
                  <div class="testimonial-item">
                    <h2 style="color: black;">{{blog.Name}}</h3>
                    <img style="width: 100%; height: 200px;" src="{{blog.Image}}" alt="">
                    <br>
                    <br>
                    <h4>{{blog.Category}}</h4>
                    <p style="color: black;">
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      {{blog.Description}}
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </a>
              </div>

            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
     

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Personal Touch</h2>
          <p>Get in personal touch with me...</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <img style="max-width: 150px;" src="{% static 'Images/HomeImages/instagram.webp' %}" alt="Instagram">
              </div>
              <br><br>
              <h4><a href="https://www.instagram.com/anirbanbhattacharya.in/">Anirban Bhattacharya (anirbanbhattacharya.in)</a></h4>
              <p>I am also a part-time Instagram content creator. I like to create memes related to coding, ChatGPT, etc. Do visit my page once...</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <img style="max-width: 150px;" src="{% static 'Images/HomeImages/whatsapp.jpeg' %}" alt="">
              </div>
              <br><br>
              <h4><a href="https://wa.link/p4nb11">Anirban Bhattacharya</a></h4>
              <p>You can also contact me on my WhatsApp number. I am usually active on WhatsApp, so if you want to contact me on an urgent basis, you can DM me on WhatsApp.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact me</h2>
          <p>It will be very glad for me if you will write something...!</p>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location</h4>
                <p>Hebbal, Bangalore</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email</h4>
                <p>contact@anirbanbhattacharya.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Phone</h4>
                <p>+91 6355 853 038</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/contact" method="post" role="form" id="md" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" id="name" class="form-control" placeholder="Your Name..." required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email..." required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject..." required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message..." required></textarea>
              </div>
              <div id="done" style="display: none;">
                <br>
                <div class="card" style="background-color: rgb(48, 230, 48);">
                  <div class="card-body">
                    Thank you for contacting me. I will surely try to reply to you as soon as possible.
                  </div>
                </div>
                <br>
              </div>
              <div class="text-center"><button onclick="showDiv()" type="submit" name="mdt" id="mdt">Send Message</button></div>
              {% csrf_token %}
            </form>
            <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
            <script type="text/javascript">
              $(document).on('submit','#md',function(e){
                  e.preventDefault();
                  $.ajax({
                      type:'POST',
                      url:'{% url "ContactMe" %}',
                      data:
                      {
                          name:$("#name").val(),
                          email:$("#email").val(),
                          subject:$("#subject").val(),
                          message:$("#message").val(),
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                      },
                      success:function(){
document.getElementById('done').style.display = "block";

                              }
                      })
                  });
              </script>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Join my newsletters on WhatsApp!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <center>
            <!-- <img style="max-width: 400px;" src="{% static 'Images\Channel.jpeg' %}" alt=""> -->
            <img style="max-width: 100px;" src="{% static 'Images/HomeImages/Anirban.png' %}" alt="">
            <br><br>
            <p style="text-align: center;">Stay ahead with Anirban Bhattacharya's exclusive WhatsApp newsletters on Tech, Entrepreneurship, Innovations, and Trends. Discover insights and learn from the failures of industry giants!</p>
          </center>
        </div>
        <div class="modal-footer">
          <a href="https://whatsapp.com/channel/0029VahuoYADuMRmcxBZcv0M"><button class="btn btn-outline-success">Follow Channel!</button></a>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <button class="btn btn-primary" id="bbutton" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" style="display: none;">Open first modal</button>
  <script>

    setTimeout("document.getElementById('bbutton').click()", 9000);
        </script>
  {% endblock %}