{% extends 'base.html' %}
{% block title %}
{{name}} | Anirban Bhattacharya
{% endblock %}
{% block body %}
{% load static %}

<section id="testmonial" class="portfolio section-bg">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h5 style="text-align: center;">Last Updated: {{date}} | <i class="fa fa-eye"></i> {{views}} | Category: Python | Author: {{author}}</h5>
        <hr>
        <img style="max-width: 100%;" src="{{image}}" alt="">
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1 style="text-align: center;">{{name}}</h1>
        {{post|safe}}
        <h6 style="text-align: center;"><a href="/like-blog/{{slug}}"><button class="btn btn-outline-info"><i class="fa fa-thumbs-up"></i> Like ({{likes}})</button></a></h6>
    </div>
</section>

{% endblock %}