{% extends 'base.html' %}
{% block title %}
{{name}} | Anirban Bhattacharya
{% endblock %}
{% block body %}
{% load static %}

<section id="testmonial" class="portfolio section-bg">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h5 style="text-align: center;">Last Updated: {{date}} | <i class="fa fa-eye"></i> {{views}} | Category: Python | Author: {{author}}</h5>
        <hr>
        <img style="max-width: 100%;" src="{{image}}" alt="">
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1 style="text-align: center;">{{name}}</h1>
        {{post|safe}}
        <body onload="getip()">
        <script type="application/javascript">
            fetch('https://api.ipify.org/?format=json').then(results => results.json()).then(data => document.getElementById("myText").value = data.ip)
        </script>
        <script type="application/javascript" src="http://ipify.org"></script>
        <form action="/like-blog/{{slug}}" method="post">
            <input type="hidden" name="ip" id="myText">
        <h6 style="text-align: center;"><button type="submit" class="btn btn-outline-info"><i class="fa fa-thumbs-up"></i> Like ({{likes}})</button></h6>
        {% csrf_token %}
        </form></body>

    </div>
</section>

{% endblock %}