{% extends 'base.html' %}
{% block title %}
{{name}} | Anirban Bhattacharya
{% endblock %}
{% block body %}
{% load static %}

<section id="testmonial" class="portfolio section-bg">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h5 style="text-align: center;">Last Updated: {{date}} | <i class="fa fa-eye"></i> {{views}} | Category: Python | Author: {{author}}</h5>
        <hr>
        <br>
        <h1 style="text-align: center;">{{name}}</h1>
        <br>
        <img style="max-width: 100%;" src="{{image}}" alt="">
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <br>
        {{post|safe}}
        <br>
        <body onload="getip()">
        <script type="application/javascript">
            fetch('https://api.ipify.org/?format=json').then(results => results.json()).then(data => document.getElementById("ip").value = data.ip)
        </script>
        <script type="application/javascript" src="http://ipify.org"></script>
        <form action="/like-blog/{{slug}}" method="post">
            <input type="hidden" name="ip" id="ip">
        <h6 style="text-align: center;"><button type="submit" class="btn btn-outline-info"><i class="fa fa-thumbs-up"></i> Like ({{likes}})</button></h6>
        {% csrf_token %}
        </form></body>
<br>
<br>
<br>
<h2>More blog posts...</h2>
<br>
        {% for blog in blogs|slice:":4:-1" %}
        <a style="color: black;" href="/read-blog/{{blog.Slug}}">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{blog.Image}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.Name}}</h5>
                      <p class="card-text">{{blog.Description}}</p>
                      <p class="card-text"><small class="text-muted">{{blog.DateAdded}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </a>
        {% endfor %}

    </div>
</section>

{% endblock %}